@import "tailwindcss";

@layer base {
  :root {
    --uts-main-bg: #EEF3FA;
    --link-water: #EFF6FF;
    --periwinkle-gray: #D4DFEE;
    --pirate-gold: #D4AF37;
  }
}

@layer utilities {
  .bg-uts-main {
    background-color: var(--uts-main-bg);
  }

  .search-bg {
    background-color: var(--periwinkle-gray);
  }

  .icon-gold {
    color: var(--pirate-gold);
  }
  
  .text-gold {
    color: var(--pirate-gold);
  }
  
  #root {
    background-color: var(--uts-main-bg);
  }
}